html, body, p {
    margin: 0;
}

.container {
    width: 700px;
    margin: 100px auto;
    padding: 50px;
    border: 1px solid #000;
}

.box {
    box-sizing: border-box;
    width: calc(100% / 3 - 30px);
    height: 70px;
    background-color: #ff9f19;
    border: 5px solid green;
    margin: 15px;
    padding: 15px;
    float: left;
}

.box-right {
    width: 70px;
    height: 70px;
    background-color: #ff9f19;
    border: 1px solid green;
    margin: 15px;
    float: right;
}

.clearfix {
    clear: both;
}
